// global sass variables go here
// NOTE: media query breakpoints are located in skeleton/base/_variables.scss
// to change them you'll either need to edit them there or override them in an import in skeleton/skeleton.scss
// sample media queries are in skeleton/modules/media-queries.scss

// sample color palette
$green:           #65bf80 !default;
$lime:            #00f08f !default;
$blue:            #0c6ec0 !default;
$grey:            #484f57 !default;
$light-grey:      #bababa !default;
$dark-grey:          #333 !default;

// component sizes
$navbarHeight:        105px;
$navbarHeightMobile:  61px;
$mapHeight:           calc(100% - #{$navbarHeight});
$mapHeightMobile:     calc(100% - #{$navbarHeightMobile});
