.CueSheet {
  width: 100%;

  .cues-container {
    padding: 25px;
    width: 100%;
    margin: 0 auto;

    @media (#{$bp-larger-than-mobile}) {
      width: 500px;
    }

    h3 {
      text-align: left;
    }

    ol {
      margin: 0 0 25px;
    }

    li {
      text-align: left;

      div {
        width: 75%;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        border-bottom: 1px solid $dark-grey;
      }

      &:last-child > div {
        border: 0;
      }
    }

    ol p {
      margin: 0;
      font-size: 1.8rem;

      @media (#{$bp-larger-than-mobile}) {
        font-size: 1.6rem;
      }

      &:first-child {
        display: inline-block;
      }
    }

    .turn-icon {
      width: 30px;
      height: 32px;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;

      &.turn-icon-start {
        background: url('../assets/icons/icon-search-marker-green.png') no-repeat;
        background:
          url('../assets/icons/icon-search-marker-green.svg') no-repeat,
          linear-gradient(transparent, transparent);
      }

      &.turn-icon-AR {
        background: url('../assets/icons/icon-search-marker-red.png') no-repeat;
        background:
          url('../assets/icons/icon-search-marker-red.svg') no-repeat,
          linear-gradient(transparent, transparent);
      }

      &.turn-icon-RT,
      &.turn-icon-RH {
        background: url('../assets/icons/icon-arrow-right.png') no-repeat;
        background:
          url('../assets/icons/icon-arrow-right.svg') no-repeat,
          linear-gradient(transparent, transparent);
      }

      &.turn-icon-RS {
        background: url('../assets/icons/icon-arrow-bear-right.png') no-repeat;
        background:
          url('../assets/icons/icon-arrow-bear-right.svg') no-repeat,
          linear-gradient(transparent, transparent);
      }

      &.turn-icon-LT,
      &.turn-icon-LH {
        background: url('../assets/icons/icon-arrow-left.png') no-repeat;
        background:
          url('../assets/icons/icon-arrow-left.svg') no-repeat,
          linear-gradient(transparent, transparent);
      }

      &.turn-icon-LS {
        background: url('../assets/icons/icon-arrow-bear-left.png') no-repeat;
        background:
          url('../assets/icons/icon-arrow-bear-left.svg') no-repeat,
          linear-gradient(transparent, transparent);
      }

      &.turn-icon-ST {
        background: url('../assets/icons/icon-arrow-straight.png') no-repeat;
        background:
          url('../assets/icons/icon-arrow-straight.svg') no-repeat,
          linear-gradient(transparent, transparent);
      }
    }
  }
}
