.CueSheet {
  width: 100%;

  .Navbar {
    @media print {
      display: none;
    }
  }

  .cues-container {
    padding: 25px;
    width: 100%;
    margin: 0 auto;

    @media (#{$bp-larger-than-tablet}) {
      width: 612px;
    }

    button {
      float: right;
      width: 27px;
      height: 27px;
      display: inline-block;
      margin-left: 20px;
      padding: 0;
    }

    button.print {
      // png fallback in case browser doesn't support svg
      background: url('../assets/icons/button-print.png') no-repeat;
      background:
        url('../assets/icons/button-print.svg') no-repeat,
        linear-gradient(transparent, transparent);

      @media print {
        display: none;
      }
    }

    p {
      margin: 0;
      font-size: 1.6rem;

      @media (#{$bp-larger-than-tablet}) {
        font-size: 1.4rem;
      }

      &:first-child {
        display: inline-block;
      }
    }

    p.nav-link {
      display: inline-block;

      @media print {
        display: none;
      }

      a {
        text-decoration: none;
      }
    }

    // table styles
    th,
    td {
      border-bottom: 2px solid $light-grey;
      vertical-align: middle;
    }

    th {
      white-space: wrap;
      padding: 5px 0;

      @media (#{$bp-larger-than-tablet}) {
        white-space: nowrap;
      }

      &:nth-child(2n) {
        padding: 5px 0 5px 15px;
      }
    }

    td {
      padding: 5px;
    }

    tbody:nth-child(odd) tr {
      // "zebra striping"
      background: #eee;
    }

    thead > tr,
    tfoot > tr {
      &:hover {
        background: #fff;
      }
    }

    tfoot td {
      border-bottom: 0;
    }

    @media (#{$bp-larger-than-tablet}) {
      tbody tr:hover {
        background: yellow;
      }
    }
  }
}
