.ModalContent {
  position: relative;

  .modal-content__close {
    position: absolute;
    top: 5px;
    right: 8px;
    width: auto;
    font-size: 3em;
    font-weight: normal;
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .modal-content__top-box,
  .modal-content__bottom-box {
    padding: 25px 35px 25px 25px;
  }

  .modal-content__top-box {
    color: #fff;
    background: lighten($dark-grey, 10%);
  }

  .modal-content__greeting-copy {
    margin-bottom: 0;
  }

  .modal-content__bottom-box {
    form.modal-content__signup-form {
      display: block;
      margin-bottom: 0;
    }

    .signup-input-button-group {
      border: 1px solid lighten($dark-grey, 10%);
      width: 100%;

      @media (#{$bp-larger-than-mobile}) {
        width: calc(100% - 252px);
        display: inline-block;
      }
    }

    fieldset {
      margin: 0;
      padding: 0;
      border: 0;

      &.hide-modal-group {
        margin-top: 20px;
      }
    }

    .signup-copy,
    .signup-input,
    .signup-submit {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      border: 0;
      border-radius: 0;
    }

    .signup-copy {
      width: 100%;
      padding-bottom: 10px;

      @media (#{$bp-larger-than-mobile}) {
        width: 250px;
        padding-bottom: 0;
      }
    }

    .signup-input {
      width: calc(100% - 85px);

      @media (#{$bp-larger-than-mobile}) {
        // width: 275px;
      }
    }

    .signup-submit {
      width: 85px;
      text-transform: none;
      padding: 0 20px;
      background: $green;
      color: #fff;
    }

    .hide-modal-checkbox,
    .hide-modal-label {
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }

    .hide-modal-label {
      padding-left: 10px;
    }
  }
}
