.ModalOverlay {
  position: fixed;
  top: $navbarHeightMobile;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($grey, 0.7);
  z-index: 4002;

  @media (#{$bp-larger-than-mobile}) {
    top: $navbarHeight;
  }
}
