.SearchBox {
  position: absolute;
  top: $navbarHeightMobile;
  left: 0;
  right: 0;
  width: 300px;
  background: $transparent;
  z-index: 401;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  @media (#{$bp-larger-than-mobile}) {
    top: $navbarHeight + 10px;
    left: 10px;
    right: initial;
    border: 0;
  }
}
