.turn-icon {
  width: 30px;
  height: 32px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

  &.turn-icon-start {
    background: url('../assets/icons/icon-search-marker-green.png') no-repeat;
    background:
      url('../assets/icons/icon-search-marker-green.svg') no-repeat,
      linear-gradient(transparent, transparent);
  }

  &.turn-icon-AR {
    background: url('../assets/icons/icon-search-marker-red.png') no-repeat;
    background:
      url('../assets/icons/icon-search-marker-red.svg') no-repeat,
      linear-gradient(transparent, transparent);
  }

  &.turn-icon-RT,
  &.turn-icon-RH {
    background: url('../assets/icons/icon-arrow-right.png') no-repeat;
    background:
      url('../assets/icons/icon-arrow-right.svg') no-repeat,
      linear-gradient(transparent, transparent);
  }

  &.turn-icon-RS {
    background: url('../assets/icons/icon-arrow-bear-right.png') no-repeat;
    background:
      url('../assets/icons/icon-arrow-bear-right.svg') no-repeat,
      linear-gradient(transparent, transparent);
  }

  &.turn-icon-LT,
  &.turn-icon-LH {
    background: url('../assets/icons/icon-arrow-left.png') no-repeat;
    background:
      url('../assets/icons/icon-arrow-left.svg') no-repeat,
      linear-gradient(transparent, transparent);
  }

  &.turn-icon-LS {
    background: url('../assets/icons/icon-arrow-bear-left.png') no-repeat;
    background:
      url('../assets/icons/icon-arrow-bear-left.svg') no-repeat,
      linear-gradient(transparent, transparent);
  }

  &.turn-icon-ST {
    background: url('../assets/icons/icon-arrow-straight.png') no-repeat;
    background:
      url('../assets/icons/icon-arrow-straight.svg') no-repeat,
      linear-gradient(transparent, transparent);
  }

  &.turn-icon-Alert {
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid black;
  }
}
