// legend control
.leaflet-map-legend.leaflet-control {
  position: relative;
  width: 39px;
  height: 39px;

  ul {
    display: none;
    position: absolute;
    left: -115px;
    padding: 5px;
    background: #fff;
    list-style: none;
  }

  li {
    margin-bottom: 5px;
  }

  span {
    width: 11px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;

    &.legend-item-road {
      // png fallback in case browser doesn't support svg
      background: url('../assets/icons/road.png') no-repeat;
      background:
        url('../assets/icons/road.svg') no-repeat,
        linear-gradient(transparent, transparent);
    }

    &.legend-item-path {
      // png fallback in case browser doesn't support svg
      background: url('../assets/icons/path.png') no-repeat;
      background:
        url('../assets/icons/path.svg') no-repeat,
        linear-gradient(transparent, transparent);
    }

    &.legend-item-dirt {
      // png fallback in case browser doesn't support svg
      background: url('../assets/icons/dirt.png') no-repeat;
      background:
        url('../assets/icons/dirt.svg') no-repeat,
        linear-gradient(transparent, transparent);
    }

    &.legend-item-transit {
      // png fallback in case browser doesn't support svg
      background: url('../assets/icons/transit.png') no-repeat;
      background:
        url('../assets/icons/transit.svg') no-repeat,
        linear-gradient(transparent, transparent);
    }

    &.legend-item-alertpoi {
      width: 11px;
      height: 11px;
      margin-bottom: 4px;
      border-radius: 50%;
      background-color: red;
      border: 1px solid black;
    }
  }

  a {
    display: inline-block;
    width: 39px;
    height: 39px;

    // png fallback in case browser doesn't support svg
    background: url('../assets/icons/button-info.png') no-repeat;
    background:
      url('../assets/icons/button-info.svg') no-repeat,
      linear-gradient(transparent, transparent);
  }

  &.leaflet-map-legend-expanded {
    ul {
      display: block;
    }

    a {
      // png fallback in case browser doesn't support svg
      background: url('../assets/icons/button-info-on.png') no-repeat;
      background:
        url('../assets/icons/button-info-on.svg') no-repeat,
        linear-gradient(transparent, transparent);
    }
  }
}
