.ActiveTurningReadout {
  width: $left-ui-width-mobile;
  position: fixed;
  top: initial;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 401;
  background: #fff;
  border-top: 1px solid $grey;

  .active-turning-cancel,
  .active-turning-cue {
    padding: 10px;
  }

  .active-turning-cue {
    border-top: 1px solid $grey;
  }

  button.button-cancel {
    color: #fff;
    background: red;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    border-radius: 4px;
  }

  span.active-turning-icon,
  p.active-turning-on-path-cue,
  p.active-turning-off-path-cue {
    display: inline-block;
    margin: 0;
  }

  span.active-turning-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  p.active-turning-on-path-cue,
  p.active-turning-off-path-cue {
    width: calc(100% - 30px);
  }

  @media (#{$bp-larger-than-mobile}) {
    // not visiable on devices larger than mobile
    display: none;
  }
}
