.ElevationProfile {
  height: 200px;
  position: absolute;
  top: 362px;
  left: 0;
  right: 0;
  z-index: 401;
  padding: 0;
  background: #fff;

  @media (#{$bp-larger-than-mobile}) {
    top: 348px;
    left: 10px;
    right: initial;
    width: 300px;
    // border: 1px solid aqua;
  }

  .chart-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  // svg text
  text {
    font-family: $font-family;
    font-size: 1rem;
    fill: $dark-grey;

    tspan {
      font-weight: bold;
    }

    &.heading {
      font-size: 1.2rem;
    }
  }
}
