.ElevationProfile {
  width: $left-ui-width-mobile;
  position: fixed;
  top: initial;
  left: 0;
  right: 0;
  bottom: 87px;
  z-index: $component-zindex;
  padding: 0;
  background: #fff;
  border-top: 1px solid $grey;

  @media (#{$bp-larger-than-mobile}) {
    position: absolute;
    top: 348px;
    bottom: initial;
    left: 10px;
    right: initial;
    width: $left-ui-width;
    border-top: 0;
    // border: 1px solid aqua;
  }

  .elev-prof--header {
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    padding: 0;

    @media (#{$bp-larger-than-mobile}) {
      cursor: default;
    }
  }

  .chart-container {
    position: relative;
    height: 200px - 35px;
    border-bottom: 1px solid $grey;

    @media (#{$bp-larger-than-mobile}) {
      border: 0;
    }
  }

  .heading {
    -webkit-box-flex: 4 1 0;
    -ms-flex: 4 1 0;
    flex: 4 1 0;
    margin: 0;
    padding: 5px 10px 0;
    font-size: 1.2rem;
    letter-spacing: normal;
    color: $font-color;

    &.icon-chevron {
      -webkit-box-flex: 1 1 0;
      -ms-flex: 1 1 0;
      flex: 1 1 0;
      width: 18px;
      height: 18px;
      background: url('../assets/icons/icon-chevron-left.svg') no-repeat;
    }

    @media (#{$bp-larger-than-mobile}) {
      cursor: default;
    }
  }

  // svg text
  text {
    font-family: $font-family;
    font-size: 1rem;
    fill: $font-color;

    tspan {
      font-weight: bold;
    }

    &.heading {
      font-size: 1.2rem;
    }
  }

  g.axis {
    path.domain,
    path.tick {
      stroke: $dark-grey;
    }

    line {
      fill: $dark-grey;
    }
  }
}
