.ElevationProfile {
  width: $left-ui-width-mobile;
  position: fixed;
  top: initial;
  left: 0;
  right: 0;
  bottom: 52px + 88px;
  z-index: 401;
  padding: 0;
  background: #fff;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;

  @media (#{$bp-larger-than-mobile}) {
    position: absolute;
    top: 348px;
    bottom: initial;
    left: 10px;
    right: initial;
    width: $left-ui-width;
    border: 0;
    // border: 1px solid aqua;
  }

  .elev-prof--header {
    height: 35px;
    display: flex;
    border-bottom: 1px solid $grey;
    padding: 0;
    justify-content: space-between;

    @media (#{$bp-larger-than-mobile}) {
      cursor: default;
    }
  }

  .chart-container {
    position: relative;
    height: 200px - 35px;
  }

  .heading {
    margin: 0;
    padding: 5px 10px 0;
    font-size: 1.2rem;
    letter-spacing: normal;
    color: $font-color;

    @media (#{$bp-larger-than-mobile}) {
      cursor: default;
    }
  }

  // svg text
  text {
    font-family: $font-family;
    font-size: 1rem;
    fill: $font-color;

    tspan {
      font-weight: bold;
    }

    &.heading {
      font-size: 1.2rem;
    }
  }

  g.axis {
    path.domain,
    path.tick {
      stroke: $dark-grey;
    }

    line {
      fill: $dark-grey;
    }
  }
}
