.Modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% - 20px);
  height: auto;
  transform: translate(-50%, -50%);
  background-color: #fff;

  @media (#{$bp-larger-than-mobile}) {
    width: 700px;
    top: initial;
    transform: translate(-50%, $navbarHeight + 40px);
  }
}
