.ModalContent {
  position: relative;

  .modal-content__close {
    position: absolute;
    top: 5px;
    right: 8px;
    width: auto;
    font-size: 3em;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .modal-content__top-box {
    padding: 25px 35px 25px 25px;
    color: #fff;
    background: lighten($dark-grey, 10%);
  }

  .modal-content__greeting-copy {
    margin-bottom: 0;
  }

  .modal-content__signup-msg {
    padding: 25px;
    text-align: center;

    p {
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 1.8rem;
    }

    button.close {
      margin: 0;
    }
  }
}
