.ModalForm {
  padding: 15px 20px 15px 15px;

  @media (#{$bp-larger-than-tablet}) {
    padding: 25px 35px 25px 25px;
  }

  form.modal-content__signup-form {
    display: block;
    margin-bottom: 0;
  }

  .signup-input-button-group {
    border: 1px solid lighten($dark-grey, 10%);
    width: 100%;

    @media (#{$bp-larger-than-tablet}) {
      width: calc(100% - 252px);
      display: inline-block;
    }
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  header.at-title {
    font-size: 2.5rem;
    padding-top: 0;
  }

  .at .at-fieldset {
    padding-top: 0;
  }

  header.at-markup p {
    font-size: 1.5rem;
  }

  .at-legend {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .at label {
    font-size: 1.8rem;
  }

  .at input[type="text"],
  .at input[type="tel"],
  .at input[type="email"] {
    font-size: 1.8rem;
    height: 2em;
  }

  .at input[type=checkbox] + span {
    padding-left: 2.5rem;
  }

  .at input[type=checkbox] + span::before {
    width: 1.8rem;
    height: 1.8rem;
  }

  .at-form-submit input[type="submit"] {
    border: 2px solid #0c6ec0;
    background: #0c6ec0;
    color: #fff;
    line-height: 0;
  }

  .hide-modal-checkbox,
  .hide-modal-label {
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  .hide-modal-label {
    padding-left: 10px;
  }
}
