.Navbar {
  display: block;
  width: 100%;
  height: $navbarHeightMobile;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid $light-grey;
  box-sizing: border-box;

  @media (#{$bp-larger-than-tablet}) {
    height: $navbarHeight;
  }

  .navbar-left,
  .navbar-right {
    position: relative;
    display: inline-block;
    height: 100%;
    float: left;
  }

  .navbar-left {
    width: $logoWidthMobile;

    @media (#{$bp-larger-than-tablet}) {
      width: $logoWidth;
    }
  }

  .navbar-right {
    // placeholder container for nav UI options
    width: calc(100% - #{$logoWidthMobile});
    line-height: 48px;

    @media (#{$bp-larger-than-tablet}) {
      width: calc(100% - #{$logoWidth});
      line-height: $navbarHeight;
    }

    p.about-feedback {
      display: block;
      margin: 0;
      font-size: 1.2rem;
      text-align: right;

      a {
        border: 2px solid $blue;
        background: $blue;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 600;
        font-family: "Hind", sans-serif;
        border-radius: 0;
        padding: 0.5rem 2rem;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        -webkit-appearance: none;
      }

      a:hover {
        border: 2px solid $dark-blue;
        background: $dark-blue;
      }
    }
  }

  img.ecg-logo {
    display: block;
    width: $logoWidthMobile;
    height: 41px;

    @media (#{$bp-larger-than-tablet}) {
      width: $logoWidth;
      height: 85px;
    }
  }
}
