.Navbar {
  display: block;
  width: 100%;
  height: $navbarHeightMobile;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid $light-grey;
  box-sizing: border-box;

  @media (#{$bp-larger-than-tablet}) {
    height: $navbarHeight;
  }

  .navbar-left,
  .navbar-right {
    position: relative;
    display: inline-block;
    height: 100%;
    float: left;
  }

  .navbar-left {
    width: $logoWidthMobile;

    @media (#{$bp-larger-than-tablet}) {
      width: $logoWidth;
    }
  }

  .navbar-right {
    // placeholder container for nav UI options
    width: calc(100% - #{$logoWidthMobile});
    line-height: $navbarHeightMobile;

    @media (#{$bp-larger-than-tablet}) {
      width: calc(100% - #{$logoWidth});
      line-height: $navbarHeight;
    }

    p.about-feedback {
      display: block;
      margin: 0;
      font-size: 1.2rem;
      text-align: right;

      a {
        text-decoration: none;
      }
    }
  }

  img.ecg-logo {
    display: block;
    width: $logoWidthMobile;
    height: 41px;

    @media (#{$bp-larger-than-tablet}) {
      width: $logoWidth;
      height: 85px;
    }
  }
}
