div.PoiDetails {
  background-color: white;
  z-index: 2000;
  padding: 0.25em 0.25em 1em 1em;

  @media screen and (max-width: 499px) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid black;  /* single black line at top */
  }

  @media screen and (min-width: 500px) {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 500px;
    margin-left: -250px;  /* half of width, to contrive fixed centering */
    border-top-left-radius: 5px;  /* border on 3 sides, with curved corners */
    border-top-right-radius: 5px;
    border: 1px solid black;
    border-bottom-width: 0;
  }

  h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  span.close {
    float: right;
    cursor: pointer;
    font-size: 31px;
    line-height: 1;
    color: black;
  }
}
