.SearchStartOptions {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: $component-zindex;

  @media (#{$bp-larger-than-tablet}) {
    position: static;
    bottom: initial;
  }
}
