.SearchResults {
  margin-top: 0;

  @media (#{$bp-larger-than-mobile}) {
    margin-top: 15px;
  }

  p,
  button {
    // override Skeleton defaults
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid $grey;
    text-transform: none;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: normal;
    white-space: normal;

    &:last-child {
      border-bottom: 0;
    }

    &.center {
      text-align: center;
    }

    &.green {
      color: $green;
    }

    &.blue {
      color: $blue;
    }

    &.red {
      color: red;
    }

    &:focus {
      outline: 5px auto $outline-color;
    }
  }

  p {
    width: auto;
    font-size: 1.6rem;

    span {
      &.bold {
        font-weight: bold;
      }
    }
  }

  .search-results__ui {
    background-color: #fff;
  }

  .search-results__error-msg {
    color: red;
  }

  .search-results__post-end {
    .start-description,
    .end-description,
    .route-loading-msg,
    .route-error-msg {
      padding: 10px;
    }

    .start-description {
      border-bottom: 2px solid $grey;
    }

    .route-loading-msg,
    .route-error-msg {
      border-top: 2px solid $grey;
    }

    img.map-marker {
      width: 19px;
      height: 23.5px;
      display: inline-block;
      margin: 0 10px 0 0;
      vertical-align: middle;
    }

    p {
      display: inline-block;
      padding: 0;
      margin: 0;
      border: none;

      &.error {
        color: red;
      }
    }
  }
}
