.StartRouteViewCues {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $component-zindex;
  background: #fff;

  button {
    border-bottom: 1px solid $grey;

    &:last-child {
      border: 0;
    }
  }
}
